STAGE=dev
PORT=3000
ACTIVATE_HELMET_SECURITY=false
ACTIVATE_VERSIONING=true
ACTIVATE_CORS=true

SWAGGER_PATH=docs
SWAGGER_DOCS_TITLE=Lab Cv API
SWAGGER_DOCS_DESCRIPTION=api-documentation-for-development
SWAGGER_DOCS_VERSION=1.0

DB_NAME=lab_cv_db
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASS=postgres
DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_DROP_SCHEMA=false
DB_SSL=false

JWT_SECRET=jwt-secret-key
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d
BCRYPT_SALT_ROUNDS=10
ADMIN_EMAIL=admin@email.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123*

RESEND_API_KEY=re_xxxxx
RESET_PASSWORD_URL=https://app.com/reset-password
EMAIL_FROM=noreply@tudominio.com
